<%- include("head") -%>
<div class="card" id="listPage">
  <h2>Szállások</h2>
  <% if (typeof msg != "undefined") { %>
  <p id="msg"><%= msg %></p>
  <% } %>
  <form action="/accommodations" method="post">
    <label>
      Név
      <input name="name">
    </label>
    <label>
      Hely
      <select name="destination">
        <% for (dest of destinations) { %>
        <option value="<%= dest.id %>"><%= dest.name %></option>
        <% } %>
      </select>
    </label>
    <button>Hozzáadás</button>
  </form>
  <table>
    <tbody>
      <% for (accom of accommodations) { %>
      <tr>
        <td>
          <a href="/editaccommodation/<%= accom.id %>">
            <button type="button">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
              >
                <path
                  fill="currentColor"
                  d="M3 21v-4.25L16.2 3.575q.3-.275.663-.425t.762-.15t.775.15t.65.45L20.425 5q.3.275.438.65T21 6.4q0 .4-.137.763t-.438.662L7.25 21zM17.6 7.8L19 6.4L17.6 5l-1.4 1.4z"
                />
              </svg>
            </button>
          </a>
        </td>
        <td><%= accom.name %>, <%= accom.Destination.name %></td>
      </tr>
      <% } %>
    </tbody>
  </table>
</div>
<%- include("foot") -%>
