<%- include("head") -%>
<div class="card" id="transportsPage">
  <h2>Közlekedési lehetőségek</h2>
  <% if (typeof msg != "undefined") { %>
  <p id="msg"><%= msg %></p>
  <% } %>
  <form action="/transport" method="post">
    <label>
      Név
      <input name="name">
    </label>
    <button>Hozzáadás</button>
  </form>
  <table>
    <tbody>
      <% for (tr of transports) { %>
      <tr>
        <td>
          <a href="/deletetransport/<%= tr.id %>"
            ><button type="button">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
              >
                <path
                  fill="currentColor"
                  d="m9.4 16.5l2.6-2.6l2.6 2.6l1.4-1.4l-2.6-2.6L16 9.9l-1.4-1.4l-2.6 2.6l-2.6-2.6L8 9.9l2.6 2.6L8 15.1zM7 21q-.825 0-1.412-.587T5 19V6H4V4h5V3h6v1h5v2h-1v13q0 .825-.587 1.413T17 21z"
                />
              </svg></button
          ></a>
        </td>
        <td><%= tr.name %></td>
      </tr>
      <% } %>
    </tbody>
  </table>
</div>
<%- include("foot") -%>
